<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-white d-inline-block mb-0">Users</h6>

          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)">Users </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-neutral" routerLink="add"> New </a>
          <!-- <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col-lg-12">
      <div class=" card-wrapper">
        <div class=" card">
          <div class=" card-header">
            <h3 class=" mb-0">Users</h3>
          </div>

          <div class=" card-body">
            <div class="dataTables_wrapper py-4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="datatable_length">
                    <label>
                      Show
                      <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                        (change)="entriesChange($event)">
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1">All</option>
                      </select>
                      entries
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="datatable_filter" class="dataTables_filter">
                    <label>
                      <input type="search" class="form-control form-control-sm" placeholder="Search..."
                        aria-controls="datatable" (keyup)="filterTable($event)" />
                    </label>
                  </div>
                </div>
              </div>
              <ngx-datatable class="bootstrap" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                [rows]="temp" [columnMode]="'force'">
                <ngx-datatable-column prop="profile">
                  <ng-template let-column="column" ngx-datatable-header-template> Profile </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <img class="thumbnail" style="width:100px" src="{{domain +'uploads/profiles/'+value}}" />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name"></ngx-datatable-column>
                <ngx-datatable-column name="Email"></ngx-datatable-column>
                <ngx-datatable-column name="Role"></ngx-datatable-column>
                <ngx-datatable-column prop="category">
                  <ng-template let-column="column" ngx-datatable-header-template> Category </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value?value.name:'-NA-'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="team">
                  <ng-template let-column="column" ngx-datatable-header-template> Team </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value?value.name:'-NA-'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Status"></ngx-datatable-column>
                <ngx-datatable-column name="CreatedAt"></ngx-datatable-column>
                <ngx-datatable-column prop="">
                  <ng-template let-column="column" ngx-datatable-header-template> Actions </ng-template>
                  <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <a class="btn btn-sm btn-success" routerLink="stat/{{row._id}}" title="Stats"
                      *ngIf="row.role === 'player'"><i class="fa fa-list"></i></a>
                    <a class="btn btn-sm btn-info" routerLink="edit/{{row._id}}" title="Edit"><i
                        class="fa fa-edit"></i></a>
                    <button class="btn btn-sm btn-danger" title="Delete" (click)="deleteRow(rowIndex, row._id)"><i
                        class="fa fa-trash"></i></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>